{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFORMATORIO</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <h1 class="titulo">MENU</h1>
    <img src="{% static 'img/banner.jpg' %}" width="800px">
    <ul>
        <li><a href="{% url 'inicio' %}">Home</a>
        <li><a href="{% url 'contacto' %}">Contacto</a>
        </li>
        <li><a href="">Nosotros</a></li>
        <li><a href="{% url 'noticias:h_noticias' %}">Noticias</a></li>
    </ul>

    {% block contenido %}

    {% endblock contenido %}

</body>
</html>